@model IEnumerable<ELegal.RecruitmentPortal.Model.RecruitmentCompany>

@{
    ViewBag.Title = "Index";
}

<!-- Heading -->
<div class="heading-buttons">
    <h1>@ViewBag.Title <span>@ViewBag.SubTitle</span></h1>
    <div class="buttons pull-right">
        <a href="@Url.Action("Create", "RecruitmentCompany", new { area = "Administration" })" class="btn btn-primary btn-icon glyphicons circle_plus"><i></i>Add Recruitment Company</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="separator bottom"></div>
<!-- // Heading END -->

<table class="table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="selectable">
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
              
                 <img src="@Url.Content(item.LogoUrl)" alt="Company Logo" height="20px"/>
            </td>
           
           
            <td>
                <a href=" @Url.Action("Details","RecruitmentCompany", new { area = "Administration", id=item.RecruitmentCompanyId }) " class="btn-action glyphicons eye_open btn-default"><i></i></a>
                <a href=" @Url.Action("Edit","RecruitmentCompany", new { area = "Administration", id=item.RecruitmentCompanyId }) " class="btn-action glyphicons pencil btn-success"><i></i></a>
                <a href=" @Url.Action("Delete","RecruitmentCompany", new { area = "Administration", id=item.RecruitmentCompanyId }) " class="btn-action glyphicons remove_2 btn-danger"><i></i></a>
               
            </td>
        </tr>
    }
        </tbody>
</table>
